$primary: #00D0FF;
$secondary: #314264;

$body-bg: #111;
$body-color: #FFF;
$navbar-light-brand-color: #FFF;
$nav-link-hover-color: $secondary;

$card-bg: #333;

@import 'node_modules/bootstrap/scss/bootstrap.scss';