@import './base.css';

h1, h2, h3 {
    font-family: "Outfit ExtraBold", sans-serif !important;
}

pre {
    background-color: #1E3139;
    overflow: auto;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
}

pre code {
    margin: 0;
    padding: 0;
}

code {
    background-color: #1E3139;
    padding: 2px 4px;
    margin: 0px 2px;
}